
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="widht=device-width" />
    <title>Create</title>
    <form action="/contato/create" method="post">
        <input type="text" name="Nome" /><br />
        <input type="text" name="Email" /><br />
        <button>Salvar</button>
    </form>
</head>
<body>
    
</body>
</html>